body {
  margin-top: 105px; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  opacity: 0.9;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.4rem;
    padding-right: 20px; }

#showcase {
  position: relative;
  background: url("../img/mountain.jpg");
  background-position: center;
  min-height: 600px; }
  #showcase .primary-overlay {
    position: absolute;
    background: rgba(50, 146, 166, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  #showcase #showcase-align {
    min-height: 600px; }
  @media all and (max-width: 375px) {
    #showcase h1 {
      font-size: 4em; } }

.info-header {
  width: 50%;
  margin: auto;
  border-bottom: 1px #ccc solid; }

#team img {
  margin-top: -50px; }

#team .fa {
  font-size: 25px; }

#team .card:hover {
  background: #3292a6;
  color: #fff; }
  #team .card:hover .fa {
    color: #fff; }
  #team .card:hover .text-muted {
    color: #333 !important; }
